<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SyndicateServiceLib.Properties.Settings.ETSMOBILEConnectionString" connectionString="Data Source=.\SQL16;Initial Catalog=ETSMOBILE;Persist Security Info=True;User ID=sa;Password=2491983" providerName="System.Data.SqlClient"/>
    <add name="SyndicateServiceLib.Properties.Settings.RetirementDBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\WorkArea\Projects\EESoft\TeacherUnionMobile\SyndicateService\SyndicateService\Data\RetirementDB.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    
    <bindings/>
    <services>
      <service behaviorConfiguration="SyndicateServiceBehavior" name="SyndicateServiceLib.Retirement">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" name="SyndicateServicebasicHttpEndPoint" contract="SyndicateServiceLib.IRetirement">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="http://falsex-001-site3.atempurl.com/SyndicateService/mex" binding="mexHttpBinding"
          name="SyndicateServiceMexHttpEndPoint" contract="IMetadataExchange" />-->
        <host>
          <!--<baseAddresses>
            <add baseAddress="http://falsex-001-site3.atempurl.com/SyndicateService.svc" />
          </baseAddresses>-->
        </host>
      </service>
      <service behaviorConfiguration="SyndicateServiceBehaviorRest" name="SyndicateServiceLib.Retirement">  
        <endpoint name="RESTEndPoint" contract="SyndicateServiceLib.IRetirement" binding="webHttpBinding" address="rest" behaviorConfiguration="restBehavior"/>  
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SyndicateServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="SyndicateServiceBehaviorRest">  
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>  
          <serviceDebug includeExceptionDetailInFaults="true"/>  
        </behavior>  
      </serviceBehaviors>
    <endpointBehaviors>  
      <behavior name="restBehavior">
        <webHttp helpEnabled="true"/>  
      </behavior>  
    </endpointBehaviors> 
    </behaviors>
   <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>  
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
