<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="egycs.EgTeacherUnionService.Droid" android:installLocation="auto" android:versionCode="20170602" android:versionName="20170602">
	<uses-sdk android:minSdkVersion="17" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="نقابة المهن التعليمية" android:icon="@drawable/icon">
		<!--<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAE7FFPbNYx6EacTJiZUkKiZ0rD7LE1iwM" />-->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD_samdXSx30id2u_WkvR66H47CDGVF7Y8" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>